<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctions-47hvhuxcvxpjq.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cd4cc424-c77e-4efe-81e8-8c594522a756/resourceGroups/hands-on-lab-2PTCM94JMU/providers/Microsoft.Web/sites/TollBoothFunctions-47hvhuxcvxpjq</ResourceId>
    <UserName>$TollBoothFunctions-47hvhuxcvxpjq</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://tollboothfunctions-47hvhuxcvxpjq.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>